
.nonlabel-container
{
    display: flex;
}

.btn-sm
{
    width: 35px;
}
.btn
{
    float: right;

    margin: 3px;
}

.todo-list-item-created
{
    font-size: .75rem;

    float: right;
    align-self: center;

    color: #cdcdcd;
}

.todo-list-item-label
{
    font-size: 1.25rem;

    margin-left: 1.25rem;

    cursor: pointer;
    user-select: none;
}

.todo-list-item.important .todo-list-item-label
{
    font-weight: bold;

    color: steelblue;
}

.todo-list-item.done .todo-list-item-label
{
    text-decoration: line-through;

    color: #cdcdcd;
}

.todo-list-item.important.done .todo-list-item-label
{
    font-weight: bold;

    text-decoration: line-through;

    color: #cdcdcd;
}

.todo-list-item
{
    display: flex;
    align-content: center;
    justify-content: space-between;

    width: 100%;
}
button
{
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;

    margin: 0;
    padding: 0;

    vertical-align: baseline;

    color: inherit;
    border: 0;
    background: none;

    -webkit-appearance: none;
            appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
